:root {
    --home-color: #000;
    --btn-coler: #57B8FF;
    --btn-hovercoler: #000000E0;
    --primary-color: #0075ff;
    --nav-height: 90px;
  --backtop-size: 50px;
  --container-width: 1210px;
  }