@media (max-width: 1435px) {
    .cloud__title{
        text-align: center;
    }
    .cloud__text{
        text-align: center;
    }
    .cloud__btns{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 1426px) {
    .articales__bottom{
        flex-direction: column;
    }
}
@media (max-width: 1420px) {
    .hero__left__center__title{
        font-size: 60px;
    }
    .hero__left__text{
        font-size: 14px;
    }
    .hero__right img{
        max-width: 580px
    }
}
@media (max-width:1397px){
    .gaming__bottom {
        justify-content: center;
    }
}
@media (max-width: 1320px) {
    .nav__btns__contact{
        padding: 12px 24px !important;
    }
    .hero__left__center__title{
        line-height: 70px;
        font-size: 53px;
    }
    .hero__left__text{
        font-size: 13px;
    }
    .hero__left__center img {
        width: 420px;
    }
    .hero__btn{
        padding: 12px 24px !important;
        font-size: 14px !important;
    }
    .hero__left__center img {
        right: -30px;
        bottom: 60px;
    }
    .hero__right img{
        max-width: 520px
    }
}
@media (max-width: 1090px) {
    .nav__btns__contact{
        padding: 8px 18px !important;
    }
    .hero__left__center__title{
        line-height: 66px;
        font-size: 48px;
    }
    .hero__left__text{
        font-size: 12px;
    }
    .hero__btn{
        padding: 8px 18px !important;
        font-size: 13px !important;
    }
    .hero__left__center img {
        right: -30px;
        bottom: 60px;
        width: 380px;
    }
    .hero__right img{
        max-width: 460px
    }
}
@media (max-width: 1035px) {
    .nav__list {
        display: none;
    }
    .nav__burger {
        display: flex;
        background: transparent;
    }
    .nav__btns__contact {
        padding: 11px 20px !important;
        font-size: 16px !important;
    }
    .articles__top__title{
        font-size: 55px;
    }
    .articles__top__btn{
        padding: 11px 20px !important;
        font-size: 16px !important;
    }
}
@media (max-width: 980px) {
    .nav__btns__contact{
        padding: 6px 15px !important;
        font-size: 13px !important;
    }
    #hero{
        padding-bottom: 160px;
        background-color: black;
        background-image:none;
    }
    .hero__wrapper {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center
    }
    .hero__right img{
        max-width: 100%;
    }
    .hero__left__top{
        justify-content: center;
    }
    .hero__left__center__title{
        text-align: center;
        line-height: 80px;
        font-size: 76px;
    }
    .hero__left__text{
        text-align: center;
        font-size: 13px;
    }
    .hero__left__btns{
        justify-content: center;
    }
    .hero__btn{
        padding: 10px 24px !important;
        font-size: 15px !important;
    }
    .hero__left__center img {
        right:0;
        bottom: 60px;
        width: 400px;
    }
    
    .articles__top__box {
        max-width: 600px;
    }
    .articles__top__title{
        font-size: 50px;
    }
    .articles__top__btn{
        padding: 6px 15px !important;
        font-size: 13px !important;
    }
}
@media (max-width: 820px) {
    #hero{
        padding: 180px 0 150px;
    }
    .hero__left__center__title{
        line-height: 80px;
        font-size: 66px;
    }
    .hero__left__text{
        margin-bottom: 35px;
        font-size: 11px;
    }
    .hero__left__btns{
        justify-content: center;
    }
    .hero__left__center img {
        right:0;
        bottom: 60px;
        width: 370px;
    }
    .articles__top__box {
        max-width: 550px;
    }
    .articles__top__title{
        font-size: 40px;
    }
    .future__wrapp__text{
        font-size: 13px;
    }
    .articles__top__btn{
        padding: 6px 15px !important;
        font-size: 13px !important;
    }
}
@media (max-width:770px){
    .gaming__top {
        margin-bottom: 50px;
    }
    .gaming__top__card__text {
        font-size: 14px !important;
    }
    .gaming__top__title {
        margin-bottom: 40px;    
        font-size: 50px;
    }
    .gaming__top__text {
        font-size: 14px;
    }
    .gaming__box {
        padding: 28px 33px 28px 33px;
    }
    .gaming__box__title {
        font-size: 24px;
    }
    .gaming__box__text {
        font-size: 12px;
    }
    .articles__top__box {
        max-width: 450px;
    }
    .articles__top__title{
        font-size: 38px;
    }
    .future__wrapp__text{
        font-size: 13px;
    }
    .articales__bottom{
        justify-content: center;
    }
    .articles__top__btn{
        padding: 6px 15px !important;
        line-height: 20px;
        font-size: 13px !important;
    }
    .articales__left img{
        max-width: 650px;
    }
    .articales__left__card__title{
        font-size: 28px;
    }
    .articales__span{
        font-size: 14px;
    }
    .articales__right__part__title{
        font-size: 18px;
    }
}
@media (max-width: 705px) {
    .nav__btns__contact{
        padding: 4px 12px !important;
        font-size: 13px !important;
        line-height: 20px;
    }
    #hero{
        padding: 150px 0 120px;
    }
    .hero__left__top{
        font-size: 13px;
    }
    .hero__left__center__title{
        line-height: 70px;
        font-size: 50px;
    }
    .hero__left__text{
        margin-bottom: 30px;
        font-size: 9px;
    }
    .hero__btn{
        padding: 8px 18px !important;
        font-size: 13px !important;
    }
    .hero__left__center img {
        right:0;
        bottom: 50px;
        width: 340px;
    }
    .articles__top__box {
        max-width: 400px;
    }
    .articles__top__title{
        font-size: 36px;
    }
    .future__wrapp__text{
        font-size: 12px;
    }
    .articales__left img{
        max-width: 600px;
    }
    .articales__left__card__title{
        font-size: 20px ;
    }
    .articales__span{
        font-size: 12px;
    }
    .articales__right__part__title{
        font-size: 14px;
    }
}
@media (max-width: 678px) {
    .articales__right{
        justify-content: center;
    }
    .articales__left {
        max-width: 500px;
    }
    .articales__left img{
        max-width: 500px;
    }
    .articales__left__card__title{
        font-size: 18px ;
    }
    .articales__span{
        font-size: 11px;
    }
    .articales__right__part__title{
        font-size: 14px;
    }
    .articales__left__card__title{
        font-size: 22px;
    }
}
@media (max-width: 590px) {
    .nav__logo__img{
        max-width: 140px;
    }
    .nav__btns__contact{
        padding: 2px 10px !important;
        font-size: 8px !important;
        line-height: 15px;
    }
    #hero{
        padding: 130px 0 110px;
    }
    .hero__left__top{
        font-size: 13px;
    }
    .hero__left__center{
        margin-bottom: 30px;
    }
    .hero__left__center__title{
        line-height: 60px;
        font-size: 40px;
    }
    .hero__left__text{
        margin-bottom: 30px;
        font-size: 9px;
    }
    .hero__btn{
        padding: 5px 16px !important;
        font-size: 11px !important;
        line-height: 35px;
    }
    .hero__left__center img {
        right:0;
        bottom: 50px;
        width: 340px;
    }
    .articles__top__box {
        max-width: 250px;
    }
    .articles__top__title{
        font-size: 30px;
    }
    .future__wrapp__text{
        font-size: 11px;
    }
    .articles__top__btn{
        padding: 4px 14px !important;
        line-height: 18px;
        font-size: 10px !important;
    }
    .articales__left img{
        max-width: 400px;
    }
    .articales__left {
        max-width: 400px;
    }
    .articales__left__card__title{
        font-size: 22px;
    }
    .articales__span{
        font-size: 12px;
    }
    .articales__right__part__title{
        font-size: 14px;
    }
}
@media (max-width: 520px){
    .sponsors__top__card__img {
        width: 150px;
        left: 160px ;
    }
    #sponsors{
        padding: 100px 0;
    }
    .sponsors__top__card__title {
        font-size: 40px;
    }
    .sponsors__top__text {
        font-size: 14px;
    }

}
@media (max-width:430px){
    #gaming{
        padding: 90px 0 100px;
    }
    .gaming__top {
        margin-bottom: 30px;
    }
    .gaming__top__title {
        margin-bottom: 25px; 
        line-height: 50px;   
        font-size: 35px;
    }
    .gaming__top__text {
        font-size: 12px;
        line-height: 30px;
    }
    .gaming__box {
        padding: 20px 26px 20px 26px;
    }
    .gaming__box__title {
        line-height: 30px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .articales__left img{
        max-width: 300px;
    }
    .articales__left {
        max-width: 300px;
    }
    .articales__left__card__title{
        font-size: 18px;
    }   
    .articales__span{
        font-size: 10px;
    }
    .articales__right__part__title{
        font-size: 12px;
    }
}
@media (max-width: 395px) {
    .nav__logo__img{
        max-width: 120px;
    }
    .nav__btns{
        gap: 16px;
    }
    .nav__btns__contact{
        padding: 2px 8px !important;
    }
    #hero{
        padding: 110px 0 90px;
    }
    .hero__left__top{
        font-size: 11px;
    }
    .hero__left__center{
        margin-bottom: 15px;
    }
    .hero__left__center__title{
        line-height: 60px;
        font-size: 28px;
    }
    .hero__left__text{
        margin-bottom: 15px;
        font-size: 9px;
        line-height: 15px;
    }
    .hero__btn{
        padding: 2px 12px !important;
        font-size: 8px !important;
        line-height: 13px;
    }
    .hero__left__center img {
        left: auto;
        bottom: 50px;
        width: 200px;
    }
    .articles__top__box {
        max-width: 180px;
    }
    .articles__top__title{
        line-height: 50px;
        font-size: 24px;
    }
    .future__wrapp__text{
        font-size: 10px;
    }
    .articles__top__btn{
        padding: 2px 12px !important;
        line-height: 18px;
        font-size: 10px !important;
    }
}
@media (max-width:360px){
    .nav__btns__contact{
        display: none;
    }
    #gaming{
        padding: 70px 0 90px;
    }
    .gaming__top {
        margin-bottom: 20px;
    }
    .gaming__top__card__text {
        font-size: 12px !important;
    }
    .gaming__top__title {
        margin-bottom: 16px;    
        font-size: 24px;
        line-height:30px ;
    }
    .gaming__top__text {
        font-size: 10px;
        line-height: 20px;
    }
    .gaming__box {
        padding: 18px 33px 28px 33px;
    }
    .gaming__box__title {
        line-height: 20px;
        margin-bottom: 8px;
        font-size: 16px;
    }
    .gaming__box__text {
        font-size: 10   px;
    }
    .articales__left img{
        max-width: 250px;
    }
    .articales__left {
        max-width: 250px;
    }
    .articales__left__card__title{
        line-height: 25px;
        font-size: 14px;
    }   
    .articales__span{
        font-size: 8px;
    }
    .articales__right__part__title{
        margin-top: 6px;
        font-size: 10px;
    }
    .articales__right__box img{
        max-width: 250px;
    }
}